[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/qmk/ChibiOS
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/qmk/ChibiOS-Contrib
	branch = k-type-fix
[submodule "lib/ugfx"]
	path = lib/ugfx
	url = https://github.com/qmk/uGFX
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "tmk_core/common/que_module"]
	path = tmk_core/common/que_module
	url = https://github.com/Nshu/que_module.git
[submodule "tmk_core/common/qmk_original"]
	path = tmk_core/common/qmk_original
	url = https://github.com/Nshu/qmk_original.git
